<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Portal de Noticias</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/webjars/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/error.css">

</head>
<body>
<div class="contenedor">
    <header>
        <div class="contenedor__imagen">
            <img src="/logonoticias.png" alt="" />
        </div>
        <div class="exito" th:if="${exito !=null}">
            <i class="fa-solid fa-square-check"></i>
            <p th:text="${exito}"></p>
        </div>
        <div>
            <ul class="menu">
                <li><a href="/"><i class="fa-solid fa-house"></i>Inicio</a></li>
                
<!--                <li><a href="/noticia/portal"><i class="fa-regular fa-file-lines"></i>Portal </a></li>-->
<!--                <li><a href="/categoria/registrar"><i class="fa-solid fa-plus"></i>Categoría</a></li>-->
<!--                <li><a href="/noticia/registrar"><i class="fa-solid fa-plus"></i>Noticia</a></li>-->
<!--                <li><a href="/noticia/listar"><i class="fa-solid fa-list"></i>Listar</a></li>-->
<!--                <li><a href="/noticia/eliminadas"><i class="fa-regular fa-trash-can fa-xl"></i></a></li>-->
            </ul>

        </div>
    </header>
    <div class="video">
        <img th:src="${codigo.toString() == '404' ? '/error404.png' : (codigo.toString() == '500' ? '/errorestecnicos.png':'sadasd.sdd')}" alt="nada">

    </div>
</div>
</body>
</html>
