<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <title>Portal de Noticias</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/webjars/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="contenedor">
    <header>
        <div class="contenedor__imagen">
            <img src="/logonoticias.png" alt="" />
        </div>
        <div class="exito" th:if="${exito !=null}">
            <i class="fa-solid fa-square-check"></i>
            <p th:text="${exito}"></p>
        </div>
        <div>
            <ul class="menu">
                <li><a href="/"><i class="fa-solid fa-house"></i>Inicio</a></li>
                <li><a href="/noticia/portal"><i class="fa-regular fa-file-lines"></i>Portal </a></li>
                <li sec:authorize="not isAuthenticated()"><a  href="/login"><i class="fa-solid fa-plus"></i>Login</a></li>
                <li sec:authorize="not isAuthenticated()"><a href="/registrar"><i class="fa-solid fa-plus"></i>Registrate!</a></li>
            </ul>

            <form sec:authorize="isAuthenticated()" action="/buscar" method="POST" class="busqueda">
                <select  name="categoria">
                    <option>Filtrar por:</option>
                    <option th:each="cat: ${categoria}" th:text="${cat.nombre}"></option>
                </select>
                <input type="submit" value="Buscar">
            </form>
        </div>
    </header>
    <div class="video">
        <img src="/news.gif" alt="">
    </div>
</div>
</body>
</html>
