<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="/css/listarusuarios.css">
    <link href="/webjars/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
</head>
<body>

<div class="contenedor">
    <aside th:replace="/fragments/aside :: aside"></aside>
    <div  class="tabla">
        <table class="tabla_2">
            <thead>
            <tr>
                <th>Nombre de usuario</th>
                <th>Fecha de alta</th>
                <th>Rol</th>
                <th>Sueldo Mensual</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody th:each="usuario : ${listarperiodistas}">
            <tr th:if="${usuario.rol.name()=='PERIODISTA' && usuario.activo == true}">
                <td th:text="${usuario.nombreUsuario}"></td>
                <td th:text="${usuario.fechaAlta}"></td>
                <td th:text="${usuario.rol}"></td>
                <td th:text="${usuario.sueldoMensual}"></td>
                <td th:text="${usuario.activo ? 'Activado':'Desactivado'}"></td>

                <td><a th:href="@{/admin/modificarsueldo/__${usuario.id}__}">Modificar <i
                        class="fa-solid fa-user-pen"></i></a></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>


</body>
</html>