<!DOCTYPE html>


<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Modificar Noticia</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/webjars/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/noticia_mod.css">

</head>
<body>
<div class="contenedor">
    <header>
        <div class="contenedor__imagen">
            <img src="/logonoticias.png" alt=""/>
        </div>
        <div>
            <div>
                <ul class="menu">
                    <li><a href="/"><i class="fa-solid fa-house"></i>Inicio</a></li>
                    <li><a href="/noticia/portal"><i class="fa-regular fa-file-lines"></i>Portal </a></li>
                    <li><a href="/categoria/registrar"><i class="fa-solid fa-plus"></i>Categoría</a></li>
                    <li><a href="/noticia/registrar"><i class="fa-solid fa-plus"></i>Noticia</a></li>
                    <li><a href="/noticia/listar"><i class="fa-solid fa-list"></i>Listar</a></li>
                    <li><a href="/noticia/eliminadas"><i class="fa-regular fa-trash-can fa-xl"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <section>
        <div class="contenedor__noticia">
            <span>Modificar Noticia</span>
            <form th:action="@{/noticia/modificar/__${noticia.id}__}" method="POST">
                <label for="titulo">Cambiar el Titulo?</label>
                <input type="hidden" th:value="${noticia.id}" name="id">
                <input th:value="${noticia.titulo}"
                       type="text"
                       placeholder="Titulo de la Noticia"
                       name="titulo"
                       id="titulo"
                />
                <label for="titulo">Cambiar la imagen?</label>

                <input th:value="${noticia.imagen}"
                       type="text"
                       placeholder="Titulo de la Noticia"
                       name="imagen"
                       id="titulo2"
                />
                <img class="preview " th:src="${noticia.imagen}">

                <label for="cuerpo">Modificar la noticia?</label>
                <textarea th:text="${noticia.cuerpo}"
                          name="cuerpo"
                          id="cuerpo"
                          cols="20"
                          rows="10"
                ></textarea>
                <select name="idCategoria">
                    <option th:text="${noticia.categoria.nombre}" selected th:value="${noticia.categoria.id}"> Modificar
                        Categoría?
                    </option>
                    <option th:each="categoria : ${listadocategorias}"
                            th:value="${categoria.id}"
                            th:text="${categoria.nombre}">
                    </option>
                </select>
                <div th:if="${noticia.estado}">
                    <p>PUBLICADA</p>
                </div>
                <div th:if="${!noticia.estado}">
                    <p>SIN PUBLICAR</p>
                </div>
                <input sec:authorize="hasRole('ADMIN')" type="checkbox" th:checked="${noticia.estado}" name="estado"/>
                <input type="submit" value="Modificar Noticia" class="btn"/>
            </form>
        </div>
    </section>
</div>
</body>
</html>

