<!DOCTYPE html>

    <html lang="es" xmlns:th="http://www.thymeleaf.org">
        <head>
            <title>Agregar Noticias</title>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link href="/webjars/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
            <link rel="stylesheet" href="/css/novedades.css">
        </head>
        <body>
            <div class="contenedor">
                <header>
                    <div class="contenedor__imagen">
                        <img src="/logonoticias.png" alt="" />
                    </div>
                    <div>
                        <ul class="menu">
                            <li><a href="/"><i class="fa-solid fa-house"></i>Inicio</a></li>
                            <li><a href="/noticia/portal"><i class="fa-regular fa-file-lines"></i>Portal </a></li>
                            <li><a href="/categoria/registrar"><i class="fa-solid fa-plus"></i>Categoría</a></li>
                            <li><a href="/noticia/registrar"><i class="fa-solid fa-plus"></i>Noticia</a></li>
                            <li><a href="/noticia/listar"><i class="fa-solid fa-list"></i>Listar</a></li>
                         <li><a href="/noticia/eliminadas"><i class="fa-regular fa-trash-can fa-xl"></i></a></li>
                        </ul>
                    </div>
                </header>
                <section>
                    <div class="contenedor__noticia">
                        <span>Agregar noticia</span>
                        <form action="/noticia/registro" method="POST">
                            <label for="titulo">Ingresa el titulo de la noticia</label>
                            <input
                                type="text"
                                placeholder="Titulo de la Noticia"
                                name="titulo"
                                id="titulo2"
                                />
                             <label for="titulo">Ingresa la ruta de la imagen</label>
                            <input
                                type="text"
                                placeholder="url de la imagen"
                                name="imagen"
                                id="titulo"
                                />
                            <label for="cuerpo">Ingresa la noticia</label>
                            <textarea
                                name="cuerpo"
                                id="cuerpo"
                                cols="20"
                                rows="10"
                                ></textarea>
                            
                            <select name="idCategoria">
                                <option> Seleccione la categoria</option>
                                <option th:each="categoria : ${listadocategorias}"
                                        th:value="${categoria.id}"
                                        th:text="${categoria.nombre}">
                                        
                                </option>
                            </select>
                            <p>PUBLICAR?</p>
                            <input type="checkbox" checked name="estado">
                            
                            <div
                                th:if="${error !=null}" style="width: 400px;background-color: darkred;color: white;border-radius: 10px;">
                                <h4>Error</h4>
                                <p th:text="${error}"></p>
                            </div>
                            <input type="submit" value="Agregar Noticia" class="btn" />
                        </form>
                    </div>
                </section>
            </div>
        </body>
</html>
