<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Últimas noticias!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/webjars/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/portal.css">
    </head>
    <body>
        <div class="contenedor">
            <div th:replace="/fragments/navbar :: div"> </div>
            <h2 th:text="${resultado}" class="resultado"></h2>
            <div class="noticias">
                <div th:each="noticia:${listado}">

                    <div class="imagen">
                        <img th:src="@{${noticia.imagen}}">
                    </div>
                    <div class="categoria_titulo">
                        <img th:src="${noticia.categoria.imagen_cat}" class="imagen_cat">
                        <h1 th:text="${noticia.categoria.nombre}"></h1>
                    </div>
                    <div class="titulo">
                        <h1 th:text="${noticia.titulo}"></h1>
                    </div>
                    <div class="metadata">
                        <h4 th:text="${noticia.fecha}"></h4>
                        <img src="/autor.jpg" alt="Autor"/>
                        <p th:text="${noticia.creador !=null ? noticia.creador.nombreUsuario:'Administrador'}"></p>

                    </div>
                    <div class="cuerpo">
                        <p th:text="${noticia.cuerpo}"></p>
                    </div>
                </div>


            </div>

        </div>
    </body>
</html>
