@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:100,200,300,regular,500,600,700,800,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic);
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono",'monospace';
    background: url(../background-noticias.jpg);
    background-size: cover;
}
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;

}
label {
    display: block;
}

.contenedor__noticia span {
    font-size: 1.3rem;
    margin-top: 10px;
    text-transform: uppercase;
    color: wheat;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px;
    color: white;
}
form input,
textarea {
    margin: 10px;
}
textarea {
    width: 90%;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: rgb(2, 23, 46);
    border-radius: 0 0 0 50%;
    box-shadow: 0 3px 3px white;
}
.contenedor__imagen{
    width: 250px;
    height: 80px;
}
.contenedor__imagen img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 1px 1px white);
}
.menu{
    display: flex;
    list-style: none;
}
.menu li{
    margin: 5px 15px;
    padding: 10px 15px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid blue;
    outline: 2px solid#00cc00;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.menu i{
    margin: 0 5px;
}
.video{
    margin-top: 80px;
    width: 520px;
}
.video img{
    width: 100%;
    border-radius: 30px;
}
.exito{
    width: 80px;
    height: 80px;
    color:greenyellow;
}
.exito i{
    font-size: 1.3rem
}
.busqueda{
    display: flex;
    flex-direction:row;
    justify-content: center;
}